header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header .header__mouse {
    position: relative;
    top: 12rem;
    display: flex;
    flex-direction: column;
    animation: mouseBounce 2.4s infinite alternate ease-in-out; }
    header .header__mouse .header__mouse-ico {
      margin-bottom: 0.4rem; }

@keyframes mouseBounce {
  0% {
    transform: translateY(-15px); } }
.about__01,
.about__02 {
  position: relative;
  min-height: 1000px;
  width: 1230px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.about__02 {
  flex-direction: row-reverse; }

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center; }

.gallery__wrap {
  width: 1230px;
  display: flex;
  flex-wrap: wrap; }

.gallery__img {
  padding: 0.5rem 0.55rem;
  overflow: hidden;
  flex-grow: 1; }

.gallery__card {
  position: relative;
  height: 10%;
  padding: 0.5rem 0.55rem;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center; }

.quote {
  height: 100vh;
  max-width: 1230px;
  display: flex;
  align-items: center; }

.contact {
  min-height: 700px;
  width: 1230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.contact__git,
.contact__info {
  margin: 2rem; }

.contact__git {
  max-width: 370px; }

.contact__info {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch; }

.break {
  display: block;
  height: 1px;
  width: 100%; }

footer {
  position: relative;
  width: 100%;
  height: 380px;
  color: #FFF;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1369px) and (min-width: 995px) {
  header .header__mouse {
    top: 6rem; }

  .about__01,
  .about__02 {
    width: 995px;
    flex-direction: column;
    margin-bottom: 15rem;
    padding-top: 5rem; }

  .about__02 {
    flex-direction: column-reverse; }

  .gallery__wrap {
    width: 995px;
    justify-content: center; }

  .gallery__img {
    width: auto;
    height: 350px;
    flex-grow: 0; }

  .gallery__card {
    height: 350px; }

  footer {
    left: -5rem; }

  .footer__mark {
    margin-left: 10rem; } }
@media screen and (max-width: 994px) and (min-width: 320px) {
  header {
    min-height: 500px; }
    header .header__mouse {
      top: 1rem; }

  .about__01,
  .about__02 {
    width: 100%;
    flex-direction: column;
    justify-content: center; }

  .about__02 {
    margin-bottom: 4rem;
    flex-direction: column-reverse; } }

/*# sourceMappingURL=block.css.map */
