@import 'partials/colors';
@import 'font';
@import 'block';
@import 'element';
@import 'modifier';
// This is where the sidebar element will go
html
{
  scroll-behavior: smooth; // Enable smooth scrolling for the whole page
}

.sticky-scroll
{
  position: fixed;
  top:      50%;
  right:    0;
  width:    45px;
  height:   62px;
  margin:   0;
  z-index:  99;

  .stick
  {
    width:              45px;
    height:             2px;
    margin-left:        26px;
    margin-bottom:      13px;
    background-color:   $grey;
    opacity:            0.5;
    transition:         all 0.5s;
  }
  .stick:hover
  {
    cursor:      pointer;
    opacity:     1;
    margin-left: 0;
  }

  .stick-active
  {
    width:       45px;
    opacity:     1;
    margin-left: 0;
  }
}



//  <!---------------------------------------------------------------------------------------------------->
//  <!----------- MAX WIDTH : 9999px - 1370px ------------------------------------------------------------>
//  <!---------------------------------------------------------------------------------------------------->
*, 
*::before, 
*::after
{
    box-sizing:   border-box;
}

body
{
  width:          100%;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  overflow-x:     hidden; // This cuts off overflowing elements on the left and right of the viewport
}

header, 
section
{
  min-width: 320px;
}



//  <!--------------------------------------------------------------------------------------------------->
//  <!----------- MID WIDTH : 1369px - 995px ------------------------------------------------------------>
//  <!--------------------------------------------------------------------------------------------------->
@media screen
and (max-width: 1369px)
and (min-width: 995px)
{
  body
  {
    padding: 0 5rem;
    margin:  0;
  }

  header, 
  section
  {
    width:   995px;
    padding: 0 5rem;
  }
}



//  <!-------------------------------------------------------------------------------------------------->
//  <!----------- MIN WIDTH : 994px - 320px ------------------------------------------------------------>
//  <!-------------------------------------------------------------------------------------------------->
@media screen
and (max-width: 994px)
and (min-width: 320px)
{
  header, 
  section
  {
    min-width: 405px;
    padding:   0 5rem;

  }
}